openapi: 3.1.0
info:
  title: CargoSoft API
  description: 
    $ref: ./resources/api_info_description.md
  contact:
    name: Uwe Droste
    url: https://www.cargosoft.de
    email: support@cargosoft.de
  version: '2024.1'
  x-logo:
    backgroundColor: '#FFFFF'
    altText: CargoSoft GmbH
    url: https://raw.githubusercontent.com/cargosoft-gmbh/cargosoft-api-docs/2024.1/resources/CargoSoftLogo.jpg
servers:
- url: https://api-demo.cargosoft.de
  description: Test CargoSoft API server.
tags:
- name: Invoice Lines
  description: CargoSoft Invoice Lines functionality
- name: Invoice
  description: CargoSoft Invoice funcionality
- name: Voucher Lines
  description: CargoSoft Voucher funcionality
- name: Voucher
  description: CargoSoft Voucher funcionality
- name: Shipment
  description: The following chapter will give you an overview about the shipment
    endpoints and their function.
paths:
  /cargosoft/accounting/invoiceline:
    get:
      tags:
      - Invoice Lines
      summary: Retrieve all records
      description: 'Scroll through all existing records. '
      operationId: retrieveAll
      parameters:
      - name: page_no
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceLine'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
    post:
      tags:
      - Invoice Lines
      summary: Create record
      description: Create a new record
      operationId: create
      requestBody:
        description: Model of the record you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceLine'
      responses:
        "200":
          description: Record created
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/invoiceline/lookup:
    post:
      tags:
      - Invoice Lines
      summary: Lookup record
      description: Find a existing record by given identifiers
      operationId: lookup
      parameters:
      - name: page_no
        in: query
        description: The page number for pagination.
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        description: The page size for pagination.
        schema:
          type: integer
          format: int32
          default: 50
      - name: order_by
        in: query
        description: The order by for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            enum:
            - CLIENT
            - INVOICE_NUMBER
      - name: order_mode
        in: query
        description: The order mode for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            description: Description of the order mode for ordering API results sending
              back as response
            enum:
            - ASC
            - DESC
            x-enumDescriptions:
              ASC: ascending
              DESC: descending
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
              properties:
                first:
                  $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
                last:
                  $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceLine'
        "204":
          description: No records found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/invoiceline/{id}:
    get:
      tags:
      - Invoice Lines
      summary: Retrieve record
      description: Find a existing record by it's database id
      operationId: retrieveById
      parameters:
      - name: id
        in: path
        description: Database id of the record you want to retrieve
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Record retrieved
          content:
            application/json: {}
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/invoice:
    post:
      tags:
      - Invoice
      summary: Create record
      description: Create a new record
      operationId: create_1
      requestBody:
        description: Model of the record you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        "200":
          description: Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/invoice/{id}/lines:
    get:
      tags:
      - Invoice
      operationId: retrieveInvoiceLines
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucherline:
    get:
      tags:
      - Voucher Lines
      summary: Retrieve all records
      description: 'Scroll through all existing records. '
      operationId: retrieveAll_1
      parameters:
      - name: page_no
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VoucherLine'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
    post:
      tags:
      - Voucher Lines
      summary: Create record
      description: Create a new record
      operationId: create_2
      requestBody:
        description: Model of the record you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherLine'
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherLine'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucherline/lookup:
    post:
      tags:
      - Voucher Lines
      summary: Lookup record
      description: Find a existing record by given identifiers
      operationId: lookup_1
      parameters:
      - name: page_no
        in: query
        description: The page number for pagination.
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        description: The page size for pagination.
        schema:
          type: integer
          format: int32
          default: 50
      - name: order_by
        in: query
        description: The order by for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            enum:
            - CLIENT
            - INVOICE_NUMBER
      - name: order_mode
        in: query
        description: The order mode for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            description: Description of the order mode for ordering API results sending
              back as response
            enum:
            - ASC
            - DESC
            x-enumDescriptions:
              ASC: ascending
              DESC: descending
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
              properties:
                first:
                  $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
                last:
                  $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VoucherLine'
        "204":
          description: No records found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucherline/{id}:
    get:
      tags:
      - Voucher Lines
      summary: Retrieve record
      description: Find a existing record by it's database id
      operationId: retrieveById_1
      parameters:
      - name: id
        in: path
        description: Database id of the record you want to retrieve
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Record retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherLine'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucher:
    get:
      tags:
      - Voucher
      summary: Retrieve all records
      description: 'Scroll through all existing records. '
      operationId: retrieveAll_2
      parameters:
      - name: page_no
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Voucher'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
    post:
      tags:
      - Voucher
      summary: Create record
      description: Create a new record
      operationId: create_3
      requestBody:
        description: Model of the record you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voucher'
      responses:
        "200":
          description: Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucher/lookup:
    post:
      tags:
      - Voucher
      summary: Lookup record
      description: Find existing records by given identifiers
      operationId: lookup_2
      parameters:
      - name: page_no
        in: query
        description: The page number for pagination.
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        description: The page size for pagination.
        schema:
          type: integer
          format: int32
          default: 50
      - name: order_by
        in: query
        description: The order by for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            enum:
            - CLIENT
            - INVOICE_NUMBER
            - JOURNAL_NUMBER
      - name: order_mode
        in: query
        description: The order mode for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            description: Description of the order mode for ordering API results sending
              back as response
            enum:
            - ASC
            - DESC
            x-enumDescriptions:
              ASC: ascending
              DESC: descending
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IdentifierVoucherIdentifier'
              properties:
                first:
                  $ref: '#/components/schemas/IdentifierVoucherIdentifier'
                last:
                  $ref: '#/components/schemas/IdentifierVoucherIdentifier'
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Voucher'
        "204":
          description: No records found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucher/{id}:
    get:
      tags:
      - Voucher
      summary: Retrieve record
      description: Find a existing record by it's database id
      operationId: retrieveById_2
      parameters:
      - name: id
        in: path
        description: Database id of the record you want to retrieve
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/accounting/voucher/unprocessed:
    get:
      tags:
      - Voucher
      summary: Retrieve all unprocessed vouchers
      description: 'Scroll through all existing records. '
      operationId: retrieveUnprocessed
      parameters:
      - name: client
        in: query
        schema:
          type: string
      - name: page_no
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        "200":
          description: Records retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Voucher'
        "204":
          description: No record found
          content:
            application/json: {}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/shipment/lookup:
    post:
      tags:
      - Shipment
      summary: Lookup for shipments
      description: This endpoint looks up shipments. The result should be limit by
        using search criterias in the request body. For a complete list of search
        criteria see the ShipmentIdentifier enumeration below. Depending on the search
        criteria you will receive zero up to n shipments.
      operationId: lookup_3
      parameters:
      - name: page_no
        in: query
        description: The page number for pagination.
        schema:
          type: integer
          format: int32
          default: 0
      - name: page_size
        in: query
        description: The page size for pagination.
        schema:
          type: integer
          format: int32
          default: 50
      - name: order_by
        in: query
        description: The order by for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            description: The following list will give an overview about the implemented
              shipment identifier and a short description.
            enum:
            - ID
            - HBL
            - MBL
            - FILENUMBER
            - SHIPMENT_ID
            - ADDRESS_REFERENCE
            - DIRECTION
            - MODE_OF_TRANSPORT
            - MONTH_OF_SERVICE
            - CLIENT
            - CREATION_DATE
            - RUNNING_SEQUENCE_NUMBER
            - CUSTOMER_ADDRESS_TYPE
            - CUSTOMER_ADDRESS_NUMBER
            - SHIPMENT_CLOSED
            title: ShipmentIdentifier
            x-enumDescriptions:
              SHIPMENT_ID: A foreign shipment ID of a third party system. This ID
                should be unique.
              DIRECTION: "Direction of the shipment. Possible values are [I, E]. I\
                \ = import shipments, E = export shipments."
              CREATION_DATE: System date when the shipment was created.
              CUSTOMER_ADDRESS_NUMBER: CargoSoft address number of the customer address.
              FILENUMBER: CargoSoft shipment number. The shipment number is unique
                in combination with the client.
              CLIENT: The CargoSoft client.
              HBL: House bl number of the Shipment.
              MBL: Master bL number of the Shipment.
              ADDRESS_REFERENCE: TBD
              RUNNING_SEQUENCE_NUMBER: TBD
              MONTH_OF_SERVICE: TBD
              CUSTOMER_ADDRESS_TYPE: "CargoSoft address type of the customer address.\
                \ Possible values are [D, K, G, P, A]"
              ID: Unique database ID of the Shipment.
              MODE_OF_TRANSPORT: "The mode of the shipment. Possible values are [SEA,\
                \ AIR, RD, RL]."
              SHIPMENT_CLOSED: "Flag if the shipment is done. Possible values are\
                \ [J, N]."
      - name: order_mode
        in: query
        description: The order mode for ordering API results sending back as response.
        schema:
          type: array
          items:
            type: string
            description: Description of the order mode for ordering API results sending
              back as response
            enum:
            - ASC
            - DESC
            x-enumDescriptions:
              ASC: ascending
              DESC: descending
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ShipmenLookupGenericClass'
            examples:
              LookupShipmentIdentifierExample:
                summary: Example of looking up shipment
                description: TBD
                $ref: ./resources/Lookup_shipment_example.yaml
      responses:
        "200":
          description: Records found
          headers:
            X-Page-Count:
              description: The total number of pages for pagination.
              required: true
              style: simple
              schema: {}
            X-Row-Count:
              description: The total number of found objects for pagination.
              required: true
              style: simple
              schema: {}
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Shipment'
              examples:
                ShipmentExample:
                  summary: Example of a shipment
                  description: TBD
                  $ref: ./resources/Shipment_example_object.yaml
      security:
      - JavaWebToken: []
  /cargosoft/shipment/{id}/airmaincarriage:
    get:
      tags:
      - Shipment - Transport
      - Shipment
      summary: Retrieve airfreight shipment main carriage
      description: 'Retrieve the airfreight main carriage of the shipment with additional
        details. The CargoSoft Shipment ID is needed to retrieve the main carriage. '
      operationId: retrieveAirMainCarriage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Record retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AirfreightCarriageLeg'
              examples:
                ShipmentAirfreightCarriageExportExample:
                  summary: Airfreight export carriage example
                  description: This example contains 2 legs for an export airfright
                    shipment.
                  $ref: ./resources/Retrieve_shipment_airfright_carriage_export_example.yaml
                ShipmentAirfreightCarriageImportExample:
                  summary: Airfreight import carriage example
                  description: This example contains only one leg for a import airfright
                    shipment.
                  $ref: ./resources/Retrieve_shipment_airfright_carriage_import_example.yaml
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/shipment/{id}/events:
    get:
      tags:
      - Shipment
      summary: Retrieve shipment events
      description: "This endpoint retrieves all events of the shipment. To retrieve\
        \ the events, the shipment id is needed. It is possible that not all events\
        \ are included in the response because they are not entered or know in the\
        \ shipment unitil now. To retrive the shipment id, use the lookup endpoint\
        \ of this chapter."
      operationId: retrieveEvents
      parameters:
      - name: id
        in: path
        description: The shipment id.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Records found
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShipmentEvent'
              examples:
                ShipmentEventExample:
                  summary: Example of shipment events
                  description: TBD
                  $ref: ./resources/Retrieve_shipment_events_example.yaml
      security:
      - JavaWebToken: []
  /cargosoft/shipment/{id}/seamaincarriage:
    get:
      tags:
      - Shipment
      summary: Retrieve seafreight shipment main carriage
      description: Retrieve the main carriage of the shipment with additional details.
      operationId: retrieveSeaMainCarriage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Record retrieved
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SeafreightCarriageLeg'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      security:
      - JavaWebToken: []
  /cargosoft/good/{id}/measurements:
    get:
      tags:
      - Shipment goods description
      operationId: retrieveMeasurements
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - JavaWebToken: []
  /auth/token:
    post:
      tags:
      - Authorization
      summary: Retrieve JWT
      description: Retrieve a Java Web Token to authenticate against the API
      operationId: retrieveAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Your username
                password:
                  type: string
                  description: Your password
              required:
              - password
              - username
      responses:
        "200":
          description: Java Web Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jwt'
        "401":
          description: Wrong username and/or password
components:
  schemas:
    APIErrorResponse:
      properties:
        error_code:
          $ref: '#/components/schemas/ApiError'
        error_message:
          type: string
        error_source:
          type: string
    ApiError:
      properties:
        errorMessage:
          type: string
    InvoiceLine:
      description: Description of the invoice line DTO schema
      properties:
        id:
          type: integer
          format: int32
          description: The technical id of the invoice line
        row:
          type: integer
          format: int32
          description: "The line number is a sequential number, for example, 5, 10,\
            \ 15, 20, and so on."
        invoice_number:
          type: integer
          format: int64
        invoice_type:
          type: string
          description: 'The invoice type within CargoSoft for an invoice. The following
            types are permitted:'
          enum:
          - R
          - G
          - SR
          - SG
          - SK
          - SP
          - SS
          - SO
          - GK
          - GP
          - GS
          - GO
          - LR
          - LG
          - SE
          - SL
          - R1
          - R2
          - R3
          - R4
          - R5
          - R6
          - R7
          - R8
          - R9
          - SR1
          - SR2
          - SR3
          - SR4
          - SR5
          - SR6
          - SR7
          - SR8
          - U
          - B
          - UR
          - UG
          - E
          x-enumDescriptions:
            SE: Cancellation of incoming invoice
            LR: Incoming invoice
            SL: Cancellation of incoming credit note
            LG: Incoming credit note
        sequential_number:
          type: integer
          format: int32
        shipment_number:
          type: string
          description: The shipment number for the CargoSoft shipment.
        client:
          type: string
        billing_code:
          type: string
          description: The CargoSoft billing code.
        amount:
          type: number
          description: The net amount in the currency of the invoice.
        tax_code:
          type: string
          description: The CargoSoft tax code.
        currency:
          type: string
          description: The invoice currency
        activity_type:
          type: string
          description: The CargoSoft activity type
        posting_text:
          type: string
          description: The posting text of the invoice row
        vessel_exchange_rate:
          type: number
          description: The vessel exchange rate per shipment number.
        vessel_currency:
          type: string
          description: The vessel currency per shipment number.
        vessel_inverse_rate:
          type: boolean
          description: A flag to determine if the currency should be imported as an
            inverse rate.
      required:
      - client
      - currency
    ContainsIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when value have to contain.
      title: ContainsIdentifier
    EqualsIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: The equals identifier should use to match the value exactly.
      title: EqualsIdentifier
    GreaterEqualIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when the value is greater or equals.
      title: GreaterEqualIdentifier
    GreaterThanIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when the value is greater than.
      title: GreaterThanIdentifier
    Identifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          description: Identifier key. For instance a ShipmentIdentifier
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    IdentifierInvoiceLineIdentifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          type: string
          description: Identifier key. For instance a ShipmentIdentifier
          enum:
          - CLIENT
          - INVOICE_NUMBER
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    IdentifierListIdentifierInvoiceLineIdentifier:
      type: array
      items:
        $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
      properties:
        first:
          $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
        last:
          $ref: '#/components/schemas/IdentifierInvoiceLineIdentifier'
    IdentifierLookupIdentifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          description: Identifier key. For instance a ShipmentIdentifier
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    InIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          values:
            type: array
            description: A list of values of the identifier.
            items:
              type: string
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when more than one value can be match.
      title: InIdentifier
    LessEqualIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when the value is less or equals.
      title: LessEqualsIdentifier
    LessThanIdentifier:
      allOf:
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          value:
            type: string
            description: The value of the identifier.
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier should use when the value is less than.
      title: LessThanIdentifier
    LookupIdentifier: {}
    OrIdentifier:
      allOf:
      - $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/Identifier'
      - type: object
        properties:
          identifiers:
            type: array
            description: A list of identifier
            items:
              $ref: '#/components/schemas/IdentifierLookupIdentifier'
      - $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      description: This identifier combines a list of identifier with the logical
        or.
      title: OrIdentifier
    Invoice:
      description: Description of the Invoice DTO Schema
      properties:
        id:
          type: integer
          format: int32
          description: The technical id of the Invoice
        client:
          type: string
          description: The CargoSoft client
        office:
          type: string
          description: The CargoSoft office
        corporation:
          type: string
          description: The CargoSoft corporation
        language:
          type: string
          description: The language of the invoice
        barcode:
          type: string
          description: The barcode of the invoice
        currency:
          type: string
          description: "The currency of the invoice, represented in ISO codes"
        amount:
          type: number
          description: The net amount of the invoice.
        shipment_number:
          type: string
          description: The shipment number for the CargoSoft shipment. Do not fill
            in the shipment number when importing incoming invoices.
        invoice_type:
          type: string
          description: 'The invoice type within CargoSoft for an invoice. The following
            types are permitted:'
          enum:
          - R
          - G
          - SR
          - SG
          - SK
          - SP
          - SS
          - SO
          - GK
          - GP
          - GS
          - GO
          - LR
          - LG
          - SE
          - SL
          - R1
          - R2
          - R3
          - R4
          - R5
          - R6
          - R7
          - R8
          - R9
          - SR1
          - SR2
          - SR3
          - SR4
          - SR5
          - SR6
          - SR7
          - SR8
          - U
          - B
          - UR
          - UG
          - E
          x-enumDescriptions:
            SE: Cancellation of incoming invoice
            LR: Incoming invoice
            SL: Cancellation of incoming credit note
            LG: Incoming credit note
        invoice_number:
          type: integer
          format: int64
          description: The CargoSoft invoice number can be generated via a number
            range during import.
        invoice_date:
          type: string
          format: date
          description: The invoice date
        accounting_period:
          type: integer
          format: int32
          description: The accounting periode in format YYYYMM
        invoice_address:
          $ref: '#/components/schemas/PrintedAddress'
          description: The invoice address with the CargoSoft address number
        invoice_reference:
          type: string
          description: The invoice reference of the invoicing party.
        exchange_rate:
          type: number
          description: The exchange rate of the invoice
        processed_flag:
          type: string
          description: A flag to determine whether the 'Batchfaktura' background process
            should process the invoice. This technical flag should not be filled in.
        tax_amount:
          type: number
          description: The total tax amount of an invoice in the currency of the invoice.
        gross_amount:
          type: number
          description: The gross amount of an invoice in the invoice's currency.
        created_date_time:
          type: string
          format: date-time
          description: The creation date of the invoice
        sequential_number:
          type: integer
          format: int32
          description: A sequential number for an invoice. This is a technical number
            and should not be filled in.
        employee_login:
          type: string
          description: The CargoSoft login name of the user who records the invoice.
        collective_invoice:
          type: boolean
          description: A flag to determine if an invoice is a collective invoice.
            All invoices are collective invoices ('true').
        posting_text:
          type: string
          description: The posting text of the invoice
        booked:
          type: boolean
          description: A flag to determine if an invoice is booked. All invoices are
            not booked ('false').
        cancelled_invoice:
          type: boolean
          description: "A flag to determine if an invoice is a cancellation. For invoice\
            \ types LR/LG, it's 'false'; for types SE/SL, it's 'true'."
        cancelled_invoice_number:
          type: integer
          format: int64
          description: The CargoSoft invoice number of an invoice that needs to be
            cancelled - the original CargoSoft invoice number.
        corrected_invoice:
          type: boolean
          description: A flag to determine if an invoice is corrected.
        corrected_invoice_number:
          type: number
          description: The CargoSoft invoice number of an invoice that needs to be
            corrected - the original CargoSoft invoice number.
        allocation:
          type: string
          description: "The allocation of an invoice: 'AUFW' for costs, 'ERL' for\
            \ revenue."
        paid:
          type: boolean
          description: A flag to determine if an invoice has already been paid.
        payment_condition:
          type: string
          description: The CargoSoft payment code of an invoice.
        due_date_time:
          type: string
          format: date-time
          description: The due date of the invoice.
        service_date:
          type: string
          format: date-time
          description: The service date of the invoice
        cancelled_invoice_reference:
          type: string
          description: The invoice reference from the invoicing party that needs to
            be cancelled.
        invoice_lines:
          type: array
          description: The associated invoice lines.
          items:
            $ref: '#/components/schemas/InvoiceLine'
      required:
      - client
      - currency
      - invoiceType
      - taxAmount
    PrintedAddress:
      properties:
        address_type:
          type: string
        address_number:
          type: integer
          format: int32
        line_1:
          type: string
        line_2:
          type: string
        line_3:
          type: string
        line_4:
          type: string
        line_5:
          type: string
    VoucherLine:
      properties:
        id:
          type: integer
          format: int32
        client:
          type: string
          description: The CargoSoft client
        shipment_number:
          type: string
          description: The CargoSoft shipment number
        fk_voucher_id:
          type: integer
          format: int32
          description: ID of the voucher
        impersonal_account:
          type: string
          description: The ledger account of the booking line.
        amount_local:
          type: number
          description: The net amount of the booking line in home currency.
        tax_code:
          type: string
          description: The tax code of the booking line.
        amount_foreign:
          type: number
          description: The net amount of the booking line in foreign currency.
        posting_text:
          type: string
          description: The posting text of the booking line.
        cost_center:
          type: string
          description: The cost center of the booking line
        differing_accounting_period:
          type: string
          description: Booking period per booking line - generated by the activity
            month of the Cargosoft shipment number.
        tax_amount_local:
          type: number
          description: The tax amount of the booking line in home currency.
        tax_amount_foreign:
          type: number
          description: The tax amount of the booking line in foreign currency.
        invoice_number:
          type: integer
          format: int64
          description: The CargoSoft voucher number
        invoice_type:
          type: string
          description: 'The invoice type within CargoSoft for an invoice. The following
            types are permitted:'
          enum:
          - R
          - G
          - SR
          - SG
          - SK
          - SP
          - SS
          - SO
          - GK
          - GP
          - GS
          - GO
          - LR
          - LG
          - SE
          - SL
          - R1
          - R2
          - R3
          - R4
          - R5
          - R6
          - R7
          - R8
          - R9
          - SR1
          - SR2
          - SR3
          - SR4
          - SR5
          - SR6
          - SR7
          - SR8
          - U
          - B
          - UR
          - UG
          - E
          x-enumDescriptions:
            SE: Cancellation of incoming invoice
            LR: Incoming invoice
            SL: Cancellation of incoming credit note
            LG: Incoming credit note
        activity_type:
          type: string
          description: The Cargosoft activity type of the booking line.
        cost_unit:
          type: string
          description: not available
        billing_code:
          type: string
          description: The Cargosoft billing code of the booking line.
    IdentifierListIdentifierVoucherLineIdentifier:
      type: array
      items:
        $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
      properties:
        first:
          $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
        last:
          $ref: '#/components/schemas/IdentifierVoucherLineIdentifier'
    IdentifierVoucherLineIdentifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          type: string
          description: Identifier key. For instance a ShipmentIdentifier
          enum:
          - CLIENT
          - INVOICE_NUMBER
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    Voucher:
      properties:
        id:
          type: integer
          format: int32
        client:
          type: string
          description: The CargoSoft client
        currency:
          type: string
          description: The currency of the voucher represented in ISO codes
        office:
          type: string
          description: The office
        shipment_number:
          type: string
          description: The shipment number of the shipment. This number may unique
            in combination of the client property.
        invoice_number:
          type: integer
          format: int64
          description: The CargoSoft invoice number generated by number ranges.
        invoice_type:
          type: string
          description: 'The invoice type within CargoSoft for an invoice. The following
            types are permitted:'
          enum:
          - R
          - G
          - SR
          - SG
          - SK
          - SP
          - SS
          - SO
          - GK
          - GP
          - GS
          - GO
          - LR
          - LG
          - SE
          - SL
          - R1
          - R2
          - R3
          - R4
          - R5
          - R6
          - R7
          - R8
          - R9
          - SR1
          - SR2
          - SR3
          - SR4
          - SR5
          - SR6
          - SR7
          - SR8
          - U
          - B
          - UR
          - UG
          - E
          x-enumDescriptions:
            SE: Cancellation of incoming invoice
            LR: Incoming invoice
            SL: Cancellation of incoming credit note
            LG: Incoming credit note
        journal_number:
          type: integer
          format: int32
          description: 'The journal number is a consecutive number and marks all vouchers
            they have got exported. The number is generated via CargoSoft number     range '
        accounting_period:
          type: string
          description: The accounting periode in format YYYYMM
        invoice_address:
          $ref: '#/components/schemas/PrintedAddress'
          description: The invoice address (biller or invoice recipient) with the
            CargoSoft address number
        gross_amount_local:
          type: number
          description: The gross amount of a voucher in home currency.
        tax_amount_local:
          type: number
          description: The total tax amount of a voucher in home currency.
        gross_amount_foreign:
          type: number
          description: The gross amount of a voucher in foreign currency.
        tax_amount_foreign:
          type: number
          description: The total tax amount of a voucher in foreign currency.
        exchange_rate:
          type: number
          description: The exchange rate of the voucher
        posting_text:
          type: string
          description: The posting text of the voucher
        term_of_payment:
          type: string
          description: The CargoSoft payment code of the voucher.
        due_date:
          type: string
          format: date
          description: The due date of the voucher.
        invoice_date:
          type: string
          format: date
          description: The voucher date
        invoice_reference:
          type: string
          description: The voucher reference of the biller.
        transfer_date:
          type: string
          format: date-time
          description: The date of exporting the voucher
        employee_login:
          type: string
          description: The CargoSoft login name of the user who recorded the voucher.
        cancelled_invoice_number:
          type: number
          description: The CargoSoft number of the voucher which has been cancelled
            - the original CargoSoft invoice number.
        allocation:
          type: string
          description: "The allocation of an invoice: 'AUFW' for costs, 'ERL' for\
            \ revenue."
        corrected_invoice:
          type: boolean
          description: A flag to determine if an invoice is corrected.
        corrected_invoice_number:
          type: boolean
          description: The CargoSoft number of the voucher which has been corrected
            - the original CargoSoft invoice number.
        barcode:
          type: string
          description: The barcode of the voucher.
        sequential_number:
          type: integer
          format: int32
          description: Internal counter.
        voucher_lines:
          type: array
          items:
            $ref: '#/components/schemas/VoucherLine'
    IdentifierListIdentifierVoucherIdentifier:
      type: array
      items:
        $ref: '#/components/schemas/IdentifierVoucherIdentifier'
      properties:
        first:
          $ref: '#/components/schemas/IdentifierVoucherIdentifier'
        last:
          $ref: '#/components/schemas/IdentifierVoucherIdentifier'
    IdentifierVoucherIdentifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          type: string
          description: Identifier key. For instance a ShipmentIdentifier
          enum:
          - CLIENT
          - INVOICE_NUMBER
          - JOURNAL_NUMBER
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    AddressMatchcode:
      properties:
        address_type:
          type: string
        address_number:
          type: integer
          format: int32
    AirfreightCarriageLeg:
      allOf:
      - $ref: '#/components/schemas/CarriageLeg'
      - type: object
        properties:
          flight_no:
            type: string
            description: The flight number of this airfreight carriage.
          airline_awb_code:
            type: string
            description: The awb number of this airfreight carriage.
          airline_name:
            type: string
            description: The airline name of this airfreight carriage.
      description: Description of the airfreight carriage DTO schema with several
        airfreight attributes.
    CarriageLeg:
      description: Description of the Carriage DTO schema.
      discriminator:
        propertyName: mot
        mapping:
          AirfreightCarriageMapped: '#/components/schemas/AirfreightCarriageLeg'
          SeafreightCarriageMapped: '#/components/schemas/SeafreightCarriageLeg'
          RailCarriageMapped: '#/components/schemas/RailCarriageLeg'
          RoadCarriageMapped: '#/components/schemas/RoadCarriageLeg'
          GenericCarriageMapped: '#/components/schemas/GenericCarriageLeg'
      properties:
        origin:
          $ref: '#/components/schemas/LocationDateTime'
          description: The origin of this leg. This object contains several information
            about the location and its dates and times.
        destination:
          $ref: '#/components/schemas/LocationDateTime'
          description: The destination of this leg. This object contains several information
            about the location and its dates and times.
        leg_no:
          type: integer
          format: int32
          description: The number for the correct order of the transport legs. Important
            if more than one leg is entered for the shipment.
        mot:
          type: string
      required:
      - mot
    Contact:
      properties:
        name:
          type: string
        phone_number:
          type: string
        fax_number:
          type: string
        email:
          type: string
    Container:
      properties:
        containerAddresses:
          type: array
          items:
            $ref: '#/components/schemas/ContainerAddress'
        id:
          type: integer
          format: int32
        good_id:
          type: integer
          format: int32
        client:
          type: string
        shipment_number:
          type: string
        container_number:
          type: string
        seal_number1:
          type: string
        seal_number2:
          type: string
        seal_number3:
          type: string
        container_iso_code:
          type: string
        shippers_own:
          type: boolean
    ContainerAddress:
      properties:
        id:
          type: integer
          format: int32
        qualifier:
          type: string
        street:
          type: string
        city:
          type: string
        order:
          type: integer
          format: int32
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
        address_type:
          type: string
        address_number:
          type: integer
          format: int32
        line_1:
          type: string
        line_2:
          type: string
        line_3:
          type: string
        line_4:
          type: string
        line_5:
          type: string
        postal_code:
          type: string
        country_matchcode:
          type: string
    CreditData:
      properties:
        lc_number:
          type: string
        latest_shipment_date:
          type: string
          format: date
        lc_expiry:
          type: string
          format: date
    Customs:
      properties:
        id:
          type: integer
          format: int32
        invoice_number:
          type: string
        invoice_date_time:
          type: string
          format: date-time
        amount:
          type: number
        currency_matchcode:
          type: string
        delivery_note:
          type: string
        delivery_date_time:
          type: string
          format: date-time
    DangerousGood:
      properties:
        id:
          type: integer
          format: int32
        dangerous_good_legislation:
          type: string
          description: "The dangerous goods legislation. Possible values are IMDG,\
            \ ADR, or RID."
        classification_code:
          type: string
          description: Classification code of this dangerous good. For instance the
            imdg code.
        un_number:
          type: string
        release:
          type: string
          description: Dangerous goods release
        label_1:
          type: string
        label_2:
          type: string
        label_3:
          type: string
        label_4:
          type: string
        site:
          type: string
        flashpoint:
          type: string
          description: Flashpoint
        flashpoint_unit:
          type: string
          description: The unit of the flashpoint. Possible values are C or F.
        ems_number_1:
          type: string
        ems_number_2:
          type: string
        mfag_number_1:
          type: string
        mfag_number_2:
          type: string
        remarks:
          type: array
          items:
            type: string
        authorisation_number:
          type: string
        packaging_group:
          type: string
        technical_name_1:
          type: string
        technical_name_2:
          type: string
        causing_substance_1:
          type: string
        causing_substance_2:
          type: string
        issuer:
          type: string
        net_weight:
          type: number
        weight_unit:
          type: string
        gross_weight:
          type: number
        contact:
          $ref: '#/components/schemas/Contact'
    DateAndTime:
      properties:
        date:
          type: string
          format: ISO-8601
          description: The date.
        time:
          format: ISO-8601
          description: The time.
          properties:
            hour:
              type: integer
              format: int32
            minute:
              type: integer
              format: int32
            second:
              type: integer
              format: int32
            nano:
              type: integer
              format: int32
        zone_offset:
          format: ISO-8601
          description: The UTC time zone of this date and time.
          properties:
            totalSeconds:
              type: integer
              format: int32
            id:
              type: string
            rules:
              properties:
                fixedOffset:
                  type: boolean
                transitions:
                  type: array
                  items:
                    properties:
                      offsetBefore:
                        properties:
                          totalSeconds:
                            type: integer
                            format: int32
                          id:
                            type: string
                      offsetAfter:
                        properties:
                          totalSeconds:
                            type: integer
                            format: int32
                          id:
                            type: string
                      duration:
                        properties:
                          seconds:
                            type: integer
                            format: int64
                          zero:
                            type: boolean
                          nano:
                            type: integer
                            format: int32
                          negative:
                            type: boolean
                          positive:
                            type: boolean
                          units:
                            type: array
                            items:
                              properties:
                                durationEstimated:
                                  type: boolean
                                timeBased:
                                  type: boolean
                                dateBased:
                                  type: boolean
                      gap:
                        type: boolean
                      dateTimeAfter:
                        type: string
                        format: date-time
                      dateTimeBefore:
                        type: string
                        format: date-time
                      overlap:
                        type: boolean
                      instant:
                        type: string
                        format: date-time
                transitionRules:
                  type: array
                  items:
                    properties:
                      month:
                        type: string
                        enum:
                        - JANUARY
                        - FEBRUARY
                        - MARCH
                        - APRIL
                        - MAY
                        - JUNE
                        - JULY
                        - AUGUST
                        - SEPTEMBER
                        - OCTOBER
                        - NOVEMBER
                        - DECEMBER
                      timeDefinition:
                        type: string
                        enum:
                        - UTC
                        - WALL
                        - STANDARD
                      standardOffset:
                        properties:
                          totalSeconds:
                            type: integer
                            format: int32
                          id:
                            type: string
                      offsetBefore:
                        properties:
                          totalSeconds:
                            type: integer
                            format: int32
                          id:
                            type: string
                      offsetAfter:
                        properties:
                          totalSeconds:
                            type: integer
                            format: int32
                          id:
                            type: string
                      dayOfWeek:
                        type: string
                        enum:
                        - MONDAY
                        - TUESDAY
                        - WEDNESDAY
                        - THURSDAY
                        - FRIDAY
                        - SATURDAY
                        - SUNDAY
                      dayOfMonthIndicator:
                        type: integer
                        format: int32
                      localTime:
                        $ref: '#/components/schemas/LocalTime'
                      midnightEndOfDay:
                        type: boolean
    GenericCarriageLeg:
      allOf:
      - $ref: '#/components/schemas/CarriageLeg'
      - type: object
        properties:
          haulage_type:
            type: string
          haulage_reference:
            type: string
    Good:
      properties:
        measurements:
          type: array
          items:
            $ref: '#/components/schemas/Measurement'
        customs:
          type: array
          items:
            $ref: '#/components/schemas/Customs'
        subgoods:
          type: array
          items:
            $ref: '#/components/schemas/Good'
        dangerousGoods:
          type: array
          items:
            $ref: '#/components/schemas/DangerousGood'
        mrns:
          type: array
          items:
            $ref: '#/components/schemas/MRN'
        id:
          type: integer
          format: int32
        client:
          type: string
        shipment_number:
          type: string
        identifier:
          type: string
        counter:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        level_number:
          type: integer
          format: int32
        marks:
          type: array
          items:
            type: string
        quantity:
          type: integer
          format: int32
        packaging_code:
          type: string
        description:
          type: array
          items:
            type: string
        weight:
          type: number
        colli:
          type: boolean
        colli_number:
          type: integer
          format: int32
        volume:
          type: number
        volume_unit:
          type: string
        additional_mark:
          type: boolean
        net_weight:
          type: number
        weight_unit:
          type: string
        chargable_weight:
          type: number
        container_number:
          type: string
        hs_codes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
    HSCode:
      properties:
        id:
          type: integer
          format: int32
        goodId:
          type: integer
          format: int32
        hsCode:
          type: string
    Insurance:
      properties:
        waiver_customer:
          type: boolean
        insurable_value:
          type: number
        insurable_value_currency_matchcode:
          type: string
        value_of_goods:
          type: number
        value_of_goods_currency_matchcode:
          type: string
        insurance_text:
          type: string
        transport_insurance:
          type: boolean
        insurance_type:
          type: string
        insurer:
          $ref: '#/components/schemas/AddressMatchcode'
    LocalTime:
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
        second:
          type: integer
          format: int32
        nano:
          type: integer
          format: int32
    Location:
      description: Description of the Location DTO schema.
      properties:
        codes:
          type: array
          description: A list of all location codes and their types of this location.
          items:
            $ref: '#/components/schemas/LocationCode'
        name:
          type: string
          description: The written name of this location.
        latitude:
          type: number
          description: The latitude of this location.
        longitude:
          type: number
          description: The longitude of this location.
    LocationCode:
      description: Description of the LocationCode DTO schema. Each location in CargoSoft
        can be describe by serveral location types and codes.
      properties:
        type:
          type: string
          description: The type of this location code.
          enum:
          - CARGOSOFT
          - UNLOC
          - IATA
          - FOREIGN
          - POSTAL_CODE
          - UN_COUNTRY
          x-enumDescriptions:
            FOREIGN: Foreign location code of a third party system.
            UNLOC: The location code is an UN location code.
            IATA: The location code is an IATA location code.
            CARGOSOFT: The location code is a CargoSoft internal defined location
              code.
            UN_COUNTRY: The location code is an UN country code.
        code:
          type: string
          description: The code of this location.
      required:
      - code
      - type
    LocationDateTime:
      description: The carriage leg in detail.
      properties:
        location:
          $ref: '#/components/schemas/Location'
          description: The location of this leg.
        estimated_datetime:
          $ref: '#/components/schemas/DateAndTime'
          description: The local estimated date and time related to the location.
        actual_datetime:
          $ref: '#/components/schemas/DateAndTime'
          description: The local actual date and time related to the location.
        revised_datetime:
          $ref: '#/components/schemas/DateAndTime'
          description: The local revised date and time related to the location.
        estimated_datetime_until:
          $ref: '#/components/schemas/DateAndTime'
    MRN:
      properties:
        id:
          type: integer
          format: int32
        mrn:
          type: string
    Measurement:
      properties:
        id:
          type: integer
          format: int32
        client:
          type: string
          description: The CargoSoft client.
        weight:
          type: number
        length:
          type: integer
          format: int32
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        goods_id:
          type: integer
          format: int32
        shipment_number:
          type: string
          description: The CargoSoft shipment number of the shipment. This number
            may unique in combination of the client property.
        weight_unit:
          type: string
        volume:
          type: number
        volume_unit:
          type: string
        measurement_unit:
          type: string
    RailCarriageLeg:
      allOf:
      - $ref: '#/components/schemas/CarriageLeg'
    Reference:
      properties:
        id:
          type: integer
          format: int32
        matchcode:
          type: string
        value:
          type: string
        date_and_time:
          $ref: '#/components/schemas/DateAndTime'
      required:
      - id
      - matchcode
      - value
    RoadCarriageLeg:
      allOf:
      - $ref: '#/components/schemas/CarriageLeg'
    SeafreightCarriageLeg:
      allOf:
      - $ref: '#/components/schemas/CarriageLeg'
      - type: object
        properties:
          voyage_no:
            type: string
          imo_code:
            type: string
          vessel_name:
            type: string
          vessel_flag:
            type: string
          call_sign:
            type: string
      description: Description of the seafreight carriage DTO schema with several
        seafreight attributes.
    Shipment:
      description: Description of the Shipment DTO schema.
      properties:
        id:
          type: integer
          format: int32
          description: The id of the Shipment.
        client:
          type: string
          description: The CargoSoft client.
        direction:
          type: string
          description: "The shipment direction. Possible values are [I, E]. I = import\
            \ shipments, E = export shipments."
        office:
          type: string
          description: The shipment office.
        employees:
          $ref: '#/components/schemas/ShipmentEmployees'
        shipment_number:
          type: string
          description: The CargoSoft shipment number of the shipment. This number
            may unique in combination of the client property.
        master_reference:
          type: string
          description: The shipment master bl number.
        house_reference:
          type: string
          description: The shipment house bl number.
        bl_type:
          type: string
          description: Bl type of the shipment.
        mode_of_transport:
          type: string
          description: "Transport mode of the shipment. Possible values are [SEA,\
            \ AIR, RD, RL]"
        month_of_service:
          type: string
          description: TBD.
        total_packages:
          type: integer
          format: int32
          description: The total number of packages of the shipment.
        total_gross_weight:
          type: number
          description: The gross weight if the shipment.
        goods:
          type: array
          items:
            $ref: '#/components/schemas/Good'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentAddress'
        pre_carriage:
          $ref: '#/components/schemas/Transport'
        main_carriage:
          $ref: '#/components/schemas/Transport'
        post_carriage:
          $ref: '#/components/schemas/Transport'
        events:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentEvent'
        terms_of_delivery_matchcode:
          type: string
        terms_of_delivery_name:
          type: string
        total_volume:
          type: number
        chargeableWeight:
          type: number
        original_shipment_number:
          type: string
        foreign_id:
          type: string
        movement_matchcode:
          type: string
        insurance:
          $ref: '#/components/schemas/Insurance'
        faciliator_matchcode:
          $ref: '#/components/schemas/AddressMatchcode'
        agent_matchcode:
          $ref: '#/components/schemas/AddressMatchcode'
        carrier_matchcode:
          $ref: '#/components/schemas/AddressMatchcode'
        credit_data:
          $ref: '#/components/schemas/CreditData'
        containers:
          type: array
          items:
            $ref: '#/components/schemas/Container'
    ShipmentAddress:
      properties:
        qualifier:
          type: string
          enum:
          - AGT
          - CAR
          - CNE
          - CUS
          - DEL
          - DEP
          - DL1
          - DL2
          - INV
          - MIS
          - NFY
          - PUP
          - SHP
          - TRA
        address_type:
          type: string
        address_number:
          type: integer
          format: int32
        line_1:
          type: string
        line_2:
          type: string
        line_3:
          type: string
        line_4:
          type: string
        line_5:
          type: string
        shipment_id:
          type: integer
          format: int32
        bl_type:
          type: string
          enum:
          - MASTER
          - HOUSE
        name_1:
          type: string
        name_2:
          type: string
        name_3:
          type: string
        street:
          type: string
        postal_code:
          type: string
        city:
          type: string
        postal_box:
          type: string
        postal_box_postal_code:
          type: string
        state:
          type: string
        un_country_matchcode:
          type: string
        un_country_name:
          type: string
        district:
          type: string
        contact:
          $ref: '#/components/schemas/Contact'
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
    ShipmentEmployees:
      properties:
        closed_employee_matchcode:
          type: string
        last_modified_employee_matchcode:
          type: string
        created_employee_matchcode:
          type: string
        responsible_employee_matchcode:
          type: string
    ShipmentEvent:
      description: Description of the ShipmentEvent DTO schema.
      properties:
        event:
          type: string
          description: The event code of this shipment event. The code describes the
            functional meaning of the event date and time.
          enum:
          - DISPATCH
          - PICKUP
          - WAREHOUSE
          - POL_ARRIVAL
          - LOADING_START
          - LOADING_END
          - POL_DEPARTURE
          - POD_ARRIVAL
          - CLEARANCE_START
          - CLEARANCE_END
          - CUSTOMS_CLEARANCE
          - AVAILABLE
          - ACCEPTANCE
          - FINAL_DESTINATION
          - TRANSSHIPMENT
          - GATE_OUT
          - POD_DEPARTURE
          - CUSTOMS_RELEASE
          - DELIVERY_DATE
          - POL_DEPARTURE_REVISED
          - POD_ARRIVAL_REVISED
          x-enumDescriptions:
            GATE_OUT: TBD.
            WAREHOUSE: The goods are within the warehouse.
            CLEARANCE_END: The goods are cleared.
            FINAL_DESTINATION: The goods are at the final destination.
            TRANSSHIPMENT: The  goods  are  at  the  transshipment port (seafreight
              only).
            DISPATCH: The goods were dispatched.
            LOADING_START: The goods will be loaded into the vessel / airplane.
            CUSTOMS_RELEASE: TBD.
            LOADING_END: The goods are loaded into the vessel airplane.
            POL_ARRIVAL: The goods arrived the port of loading.
            CUSTOMS_CLEARANCE: The goods are cleared by customs.
            AVAILABLE: The goods are available at the port.
            POD_DEPARTURE: TBD.
            POL_DEPARTURE: The  goods  are  departured  (ETD  and ATD).
            POL_DEPARTURE_REVISED: The  goods  are  departured  (revised Date).
            DELIVERY_DATE: TBD.
            POD_ARRIVAL_REVISED: The goods arrived at the port of discharge (revised
              Date).
            POD_ARRIVAL: The goods arrived at the port of discharge (ETA and ATA).
            ACCEPTANCE: The goods can be picked up at the port.
            PICKUP: The  goods  are  picked  up  from  the starting location.
            CLEARANCE_START: The goods will be cleared.
        type:
          type: string
          description: The event type of this shipment event. The event type describes
            if the event date and time is estimated or actual.
          enum:
          - ACTUAL
          - ESTIMATED
          x-enumDescriptions:
            ESTIMATED: Estimated date and time
            ACTUAL: Actual date and time.
        shipment_id:
          type: integer
          format: int32
          description: The id of the Shipment.
        date_time:
          $ref: '#/components/schemas/DateAndTime'
          description: The date and time of this event.
        location:
          $ref: '#/components/schemas/Location'
          description: The location of this event.
    Transport:
      properties:
        carriage_legs:
          type: array
          items:
            $ref: '#/components/schemas/CarriageLeg'
    ShipmenLookupGenericClass:
      anyOf:
      - $ref: '#/components/schemas/EqualsIdentifier'
      - $ref: '#/components/schemas/InIdentifier'
      - $ref: '#/components/schemas/ContainsIdentifier'
      - $ref: '#/components/schemas/OrIdentifier'
      - $ref: '#/components/schemas/LessThanIdentifier'
      - $ref: '#/components/schemas/LessEqualIdentifier'
      - $ref: '#/components/schemas/GreaterThanIdentifier'
      - $ref: '#/components/schemas/GreaterEqualIdentifier'
      properties:
        key:
          type: string
          description: Identifier key. For instance a ShipmentIdentifier
          enum:
          - ID
          - HBL
          - MBL
          - FILENUMBER
          - SHIPMENT_ID
          - ADDRESS_REFERENCE
          - DIRECTION
          - MODE_OF_TRANSPORT
          - MONTH_OF_SERVICE
          - CLIENT
          - CREATION_DATE
          - RUNNING_SEQUENCE_NUMBER
          - CUSTOMER_ADDRESS_TYPE
          - CUSTOMER_ADDRESS_NUMBER
          - SHIPMENT_CLOSED
          title: ShipmentIdentifier
          x-enumDescriptions:
            SHIPMENT_ID: A foreign shipment ID of a third party system. This ID should
              be unique.
            DIRECTION: "Direction of the shipment. Possible values are [I, E]. I =\
              \ import shipments, E = export shipments."
            CREATION_DATE: System date when the shipment was created.
            CUSTOMER_ADDRESS_NUMBER: CargoSoft address number of the customer address.
            FILENUMBER: CargoSoft shipment number. The shipment number is unique in
              combination with the client.
            CLIENT: The CargoSoft client.
            HBL: House bl number of the Shipment.
            MBL: Master bL number of the Shipment.
            ADDRESS_REFERENCE: TBD
            RUNNING_SEQUENCE_NUMBER: TBD
            MONTH_OF_SERVICE: TBD
            CUSTOMER_ADDRESS_TYPE: "CargoSoft address type of the customer address.\
              \ Possible values are [D, K, G, P, A]"
            ID: Unique database ID of the Shipment.
            MODE_OF_TRANSPORT: "The mode of the shipment. Possible values are [SEA,\
              \ AIR, RD, RL]."
            SHIPMENT_CLOSED: "Flag if the shipment is done. Possible values are [J,\
              \ N]."
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    IdentifierListIdentifierShipmentIdentifier:
      type: array
      items:
        $ref: '#/components/schemas/IdentifierShipmentIdentifier'
      properties:
        first:
          $ref: '#/components/schemas/IdentifierShipmentIdentifier'
        last:
          $ref: '#/components/schemas/IdentifierShipmentIdentifier'
    IdentifierShipmentIdentifier:
      description: Description of the Identifier DTO schema. This DTO contains the
        match mode and identifiers of a functional object for instance the shipment
        identifier.
      discriminator:
        propertyName: matchMode
        mapping:
          EqualsIdentifierMapped: '#/components/schemas/EqualsIdentifier'
          ContainsIdentifierMapped: '#/components/schemas/ContainsIdentifier'
          InIdentifierMapped: '#/components/schemas/InIdentifier'
          OrIdentifierMapped: '#/components/schemas/OrIdentifier'
          GreaterThanIdentifierMapped: '#/components/schemas/GreaterThanIdentifier'
          LessThanIdentifierMapped: '#/components/schemas/LessThanIdentifier'
          GreaterEqualIdentifierMapped: '#/components/schemas/GreaterEqualIdentifier'
          LessEqualIdentifierMapped: '#/components/schemas/LessEqualIdentifier'
      properties:
        key:
          type: string
          description: Identifier key. For instance a ShipmentIdentifier
          enum:
          - ID
          - HBL
          - MBL
          - FILENUMBER
          - SHIPMENT_ID
          - ADDRESS_REFERENCE
          - DIRECTION
          - MODE_OF_TRANSPORT
          - MONTH_OF_SERVICE
          - CLIENT
          - CREATION_DATE
          - RUNNING_SEQUENCE_NUMBER
          - CUSTOMER_ADDRESS_TYPE
          - CUSTOMER_ADDRESS_NUMBER
          - SHIPMENT_CLOSED
          title: ShipmentIdentifier
          x-enumDescriptions:
            SHIPMENT_ID: A foreign shipment ID of a third party system. This ID should
              be unique.
            DIRECTION: "Direction of the shipment. Possible values are [I, E]. I =\
              \ import shipments, E = export shipments."
            CREATION_DATE: System date when the shipment was created.
            CUSTOMER_ADDRESS_NUMBER: CargoSoft address number of the customer address.
            FILENUMBER: CargoSoft shipment number. The shipment number is unique in
              combination with the client.
            CLIENT: The CargoSoft client.
            HBL: House bl number of the Shipment.
            MBL: Master bL number of the Shipment.
            ADDRESS_REFERENCE: TBD
            RUNNING_SEQUENCE_NUMBER: TBD
            MONTH_OF_SERVICE: TBD
            CUSTOMER_ADDRESS_TYPE: "CargoSoft address type of the customer address.\
              \ Possible values are [D, K, G, P, A]"
            ID: Unique database ID of the Shipment.
            MODE_OF_TRANSPORT: "The mode of the shipment. Possible values are [SEA,\
              \ AIR, RD, RL]."
            SHIPMENT_CLOSED: "Flag if the shipment is done. Possible values are [J,\
              \ N]."
        match_mode:
          type: string
          default: EQUALS
          description: The match mode.
          enum:
          - EQUALS
          - CONTAINS
          - IN
          - OR
          - GT
          - LT
          - GE
          - LE
          x-enumDescriptions:
            OR: Or.
            EQUALS: Equals.
            IN: In.
            LT: Lower than.
            LE: Lower equals
            CONTAINS: Contains
            GT: Greater than.
            GE: Greater equals
    Jwt:
      properties:
        token:
          type: string
  securitySchemes:
    JavaWebToken:
      type: http
      description: 
        $ref: ./resources/api_security_description.md
      scheme: bearer
      bearerFormat: JWT
